.backgroud-image {
    width: 100%;
}
* {
    box-sizing: border-box;
}
.row {
    display: flex;
    background-color: rgb(157, 179, 179);
    text-align: center;
  }
.column {
    flex: 33.33%;
    padding: 5px;
  }
.office-img {
    border-radius: 50%;
    border: 20px solid gray;
}
.logo-img {
    border-radius: 50%;
    border: 20px solid gray;
}
.me-img {
    border-radius: 50%;
    border: 20px solid gray;
}
p {
    text-align: right;
    font-size: 5em;
    background-color: rgb(157, 179, 179);
    margin: 0px;
}
.container {
    position: relative;
    text-align: center;
    color: black;
}
.bottom-right {
    position: absolute;
    bottom: 100px;
    right: 150px;
    font-size: 5em;
    font-weight: 700;
}